html, body {
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  body, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
  