@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&family=Montserrat:wght@600;700;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* prevent off-canvas elements from creating a horizontal gap on mobile */
  }
  
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  body, p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  
